target/classes/backendalgorithm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<spring:beans>
	
	<context:component-scan base-package="com.ms3"></context:component-scan>
	
	</spring:beans>
		
	
   
    <http:request-config name="HTTP_Request_Configuration" host="${http.ms3.api.host}" port="${http.ms3.api.port}" doc:name="HTTP Request Configuration"/>
    <context:property-placeholder location="ms3.properties"/>
    <flow name="backendalgorithmFlow">
        <http:request config-ref="HTTP_Request_Configuration" path="${http.requester.path}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="lowerNumber" value="#[message.inboundProperties.'http.query.params'.lowerNumber]"/>
                <http:query-param paramName="higherNumber" value="#[message.inboundProperties.'http.query.params'.higherNumber]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="algorithmFlow">
        <http:listener config-ref="api-httpListenerConfig" path="${http.listener.path}" allowedMethods="GET" doc:name="HTTP"/>
        <invoke object-ref="convertInputAlg" method="convertInput" doc:name="Invoke" methodArguments="#[message.inboundProperties.'http.query.params'.lowerNumber],#[message.inboundProperties.'http.query.params'.higherNumber]"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="{
&quot;response&quot; : &quot;#[payload]&quot;
}" mimeType="application/json" doc:name="Set Payload"/>
    </flow> 
</mule>
